<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContactApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E0D675C1BF294A600DD0F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E0D67731BF294A800DD0F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E0D677E1BF294A800DD0F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
